# Machine Learning: Multiple Regression

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pickle
import requests
import json
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
ML_df = pd.read_csv("NSCG_clean_encoded.csv")
ML_df.head

<bound method NDFrame.head of         AGE  ASDGRI  CLIC  CTZN  GENDER  MRDG  NBAMEMG  NDGMEMG  N2OCPRMG  \
0      36.0       0     0     1       0     2        1        1         1
1      38.0       1     1     1       1     2        4        7         7
2      42.0       0     0     1       0     2        4        7         7
3      48.0       0     0     1       1     1        2        2         2
4      37.0       0     1     1       1     4        4        7         7
...     ...     ...   ...   ...     ...   ...      ...      ...       ...
73624  28.0       0     0     1       1     1        7        7         7
73625  54.0       0     0     1       0     1        4        4         7
73626  26.0       0     0     1       1     1        2        2         3
73627  33.0       0     0     1       1     2        2        6         6
73628  57.0       1     0     1       0     2        4        7         7

       RACETHM    SALARY  SALARYG  AGEG
0            3   50000.0        4     3
1            5   24000.0        2     3
2            4  200000.0        8     4
3            5   38147.0        3     4
4            1   70000.0        5     3
...        ...       ...      ...   ...
73624        1   52000.0        4     2
73625        5    4750.0        1     5
73626        5   42000.0        3     2
73627        5   59000.0        4     3
73628        7    2500.0        1     5

[73629 rows x 13 columns]>

In [3]:
ML_df.corr().style.background_gradient(cmap='RdBu', vmin=-1, vmax=1)

In [4]:
X = ML_df[["AGE", "CTZN", "GENDER","ASDGRI", "CLIC", "MRDG", "N2OCPRMG", "RACETHM"]]
y = ML_df["SALARY"]
print(X.shape, y.shape)
# y

(73629, 8) (73629,)

In [5]:
# Use train_test_split to create training and testing data

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [6]:
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = regressor.predict(X_test)
print(y_pred.shape)

(73629,)

In [18]:
print(model.coef_)
print(model.intercept_)

[   663.78532362    337.8053183  -27591.51335976 -10842.31369226
    568.99100145  15296.65313524  -1548.67537272  -1538.44744631]
64338.834598266556

In [10]:
pickle.dump(regressor, open('salary_model.pkl', 'wb'))

In [23]:
model = pickle.load(open('salary_model.pkl', 'rb'))
print(model.predict([[24, 2, 0, 1,0,1,4,3]]))

[74589.58861487]

In [21]:
import sklearn.linear_model
sklearn.linear_model.__file__

'/Users/gigijones/miniforge3/lib/python3.8/site-packages/sklearn/linear_model/__init__.py'

In [24]:
!pwd

/Users/gigijones/Documents/Berkeley Data Analytics/1_Lecture/Week23_FinalProject